body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 69, 69);
}

.header {
    width: 100%;
    background-color:rgb(255, 200, 0);
    padding: 1rem 0;
    text-align: center;
    color: white;
    position: fixed;
    top: 0;
}
.para{text-align: left;
  

}
.website-name {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.main-content {
    margin-top: 4rem; /* Adjust to prevent overlap with fixed header */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.form-container {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 500px;
    width: 400px;
}

.input-name {
    width: 90%;
    padding: 0.75rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    font-size: 1rem;
}
.main-content .form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content h3 {
    text-align: left;
    margin-top: 20px;
}

.main-content .input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.main-content .input-group input[type="number"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.main-content .input-group select {
    width: 35%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: rgb(255, 200, 0);
    color: white;
    border: none;
    padding: 0.75rem 3.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top: 50px;
    transition: background-color 0.15s ease-in-out;
}

.btn-back {
    background-color: #6c757d; /* Different color for back button */
}

.btn:hover {
    background-color: #0056b3;
}

.btn-back:hover {
    background-color: #5a6268;
}
